<section class="contact-us-container">
  <div class="form-wrapper">
    <form class="form" [formGroup]="myFormContact" (ngSubmit)="onSubmit()">
      <!-- <p>Frase con referenacia a que nos envíe cualquier inquietud que nosotros la responderemos</p> -->
      <div class="form-contacto__campo">
        <label for="asunto" class="form-contacto__label">Asunto</label>
        <input type="text" id="asunto" name="asunto" formControlName="affair" class="form-contacto__input">
      </div>
      <div class="form-contacto__grupo">
        <div class="form-contacto__campo">
          <label for="nombre" class="form-contacto__label">Nombre</label>
          <input type="text" id="nombre" name="nombre" formControlName="name" class="form-contacto__input">
        </div>
        <div class="form-contacto__campo">
          <label for="apellido" class="form-contacto__label">Apellido</label>
          <input type="text" formControlName="lastName" id="apellido" name="apellido" class="form-contacto__input">
        </div>
      </div>
      <div class="form-contacto__grupo">
        <div class="form-contacto__campo">
          <label for="correo" class="form-contacto__label">Correo</label>
          <input type="email" id="correo" name="correo" formControlName="email" class="form-contacto__input">
        </div>
        <div class="form-contacto__campo">
          <label for="telefono" class="form-contacto__label">Teléfono</label>
          <input type="tel" id="telefono" name="telefono" formControlName="phone" class="form-contacto__input">
        </div>
      </div>
      <div class="form-contacto__campo">
        <label for="mensaje" class="form-contacto__label">Mensaje</label>
        <textarea id="mensaje" name="mensaje" formControlName="message" class="form-contacto__textarea"></textarea>
      </div>

      <button type="submit" class="my-button">
        Enviar
      </button>
    </form>
  </div>
  <div class="half-width flex column">
    <app-logo color="#f4f6f"></app-logo>
    <p class="text-mb">Estamos aquí para ayudarte. Encuéntranos en nuestra oficina o contáctanos a través de teléfono o
      correo
      electrónico.</p>
    <div class="flex column item-container">
      <!-- Logo del telefono -->
      <div class="flex item-container">
        <i class="fa-solid fa-phone"></i>
        <span>(+58) 412 2786751</span>
      </div>
      <div class="flex item-container">
        <i class="fa-solid fa-envelope"></i>
        <span>{{'Santiago@Gmail.com'}}</span>
      </div>

    </div>
  </div>
</section>