<!-- <div class="carrousel-container">
  <div class="carrousel-content" [style.transform]="'translateX(' + (-currentIndex * 100) + '%)'">
    @for (item of items; track $index) {
    <div class="carrousel-item">
      <img [src]="item" alt="carrousel image" />
    </div>
    }
  </div>
  <div class="carrousel-controls">
    <button (click)="prev()" aria-label="icon button left control">
      <i class="fa-solid fa-chevron-left"></i>
    </button>
    <button (click)="next()" aria-label="icon button right control">
      <i class="fa-solid fa-chevron-right"></i>
    </button>
  </div>
</div> -->
<swiper-container #bigSwiper class="carrousel-container" init="false">
  @for (item of items; track $index) {
  <swiper-slide>
    <img [src]="item" alt="carrousel image" />
  </swiper-slide>
  }
</swiper-container>