<section class="section-presentation">
  <div class=" presentation-container">
    <div class="company-description flex column ">
      <h1>
        AVAIMS
      </h1>
      <p>
        La Asociacion Venezolana de Arquitectura e Ingenieria Medico Sanitaria fue creada hace 12 años por iniciativa
        de un grupo de Arquitectos e Ingenieros especializados en esta area, nacio de AVAMS y es de carácter
        científico, tecnico y cultural, integrada por profesionales especializados en planificación, programación,
        diseño, estudio y selección de equipos para edificaciones medicas
      </p>
    </div>
    <div class="company-img-container">
      <img src="images/team.png" alt="company-img" />
    </div>
  </div>

  <button mat-fab extended>
    <mat-icon>favorite</mat-icon>
    Conocenos más acá
  </button>
</section>