<div #newsCard class="news-card" [@fadeIn]="admin ? 'final': animationState" (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()">
  <div class="image-container">
    <img [src]="selectedImage ? selectedImage : notice.img ? 'https://avaims.com/api/v1/public/'+ notice.img : 'https://avaims.com/api/v1/public/images/notices/team.png'" alt="Noticia">
  </div>

  <div class="content">
    <h2>{{notice.title}}</h2>
    <p class="description">{{notice.description}}</p>
    <p class="date">{{notice.date | date: 'fullDate'}}</p>
    @if (notice.url) {
    <a target="_blank" class="url" href="{{notice.url}}">
      Leer más
    </a>
    }

  </div>
</div>