<div class="notice-container flex grouper">
  <div class="form">
    <app-notice-form (newNotice)="onNewNotice($event)"
      (selectedImageOutput)="onSelectedImage($event)"></app-notice-form>
  </div>
  <div class="cards-container flex grouper">
    <div>
      <h2>Ejemplo</h2>
      <my-card [admin]="true" title="Modelo de ejemplo para ver la longitud deseada"
        description="Un equipo de biólogos ha anunciado el descubrimiento de una nueva especie de rana en la selva amazónica. La rana, de colores brillantes y tamaño diminuto, fue encontrada durante una expedición de investigación en una zona remota de la selva."
        img="images/notices/17413033937131366_2000.jpg">
      </my-card>
    </div>
    <div>
      <h2>Nueva Noticia</h2>
      <my-card [admin]="true" [title]="newNotice?.title" [description]="newNotice?.description" [img]="selectedImage"
        [created_at]="newNotice?.created_at"></my-card>
    </div>
  </div>
</div>