<header #content class="header-container flex" [@slideDown]="animationState">
  <nav class="nav-container flex justify-between align-center">
    <app-logo></app-logo>
    @if (!isMobile) {
    <div class="nav-items flex align-center justify-between">
      <div class="container-items flex">
        <ul>
          <li><a routerLink="/home/" routerLinkActive="activeLink" [routerLinkActiveOptions]="{exact: true}"
              ariaCurrentWhenActive="page">Inicio</a></li>
          <li>
            <app-dropdown buttonText="Nosotros" [options]="dropDownLink"></app-dropdown>
          </li>
          <li><a routerLink="/home/notices" routerLinkActive="activeLink" ariaCurrentWhenActive="page">Noticias</a></li>
          <li><a routerLink="/home/contact-us" routerLinkActive="activeLink" ariaCurrentWhenActive="page">Contacto</a>
          </li>
        </ul>
      </div>
      <div class="container-social">
        <button class="my-button-only-icon header-component">
          <a target="_blank" title="Avaims" href="https://www.facebook.com/arquitecturaeingenieriamedicosanitaria	">
            <i class="fa-brands fa-facebook"></i>
          </a>
        </button>
        <button class="my-button-only-icon header-component">
          <a target="_blank" href="https://www.instagram.com/avaims.venezuela/">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </button>
        <button class="my-button-only-icon header-component">
          <a target="_blank" href="https://twitter.com/avaimsoficial"><i class="fa-brands fa-x-twitter"></i></a>
        </button>
      </div>
    </div>
    }
    @else {
    <button (click)="toggleSidebar()" class="my-button-only-icon header-component" aria-label="item-list">
      <i class="fa-solid fa-ellipsis-vertical"></i>
    </button>
    }
  </nav>
</header>

<app-sidebar-mobile (close)="toggleSidebar()" [isOpen]="isOpen"></app-sidebar-mobile>