.header-container {
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgb(255, 255, 255, .6);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.mobile {
  background-color: rgb(255, 255, 255);
}

.header-container nav {
  padding: 20px;
  width: 100%;
}

.nav-logo {
  gap: 10px;
}

.logo-container img {
  width: 50px;
}

.nav-logo h1 {
  font-size: 32px;
  color: #333;
  font-weight: 500;
  letter-spacing: .2rem;
  font-weight: 600;
  margin: 0;
  transition: color 0.3s ease;
}

.nav-title h2 {
  font-size: 16px;
  color: #555;
  /* Un gris más suave para el subtítulo */
  margin: 0;
}

// Contenedor de los items de navegación
.nav-container .nav-items {
  width: 30%
}

.nav-items ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 30px;
}

.nav-items ul li {
  margin-right: 0;
  transition: ease-in .1s;
}

.nav-items ul li:hover {
  transform: scale(1.1);
}



.nav-items ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transform: ease-in .3s;
}

.activeLink {
  margin-bottom: 1px;
  border-bottom: 2px solid #007bff;
}

.nav-items ul li a:hover {
  color: #007bff;
}


.nav-items .container-social {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

@media (max-width: 1500px) {
  .nav-container .nav-items {
    width: 60%
  }
}