<header #content class="header-container flex" [@slideDown]="animationState">
  <nav class="nav-container flex justify-between align-center" >
    <app-logo></app-logo>
    @if (!isMobile) {
    <div class="nav-items flex align-center justify-between">
      <div class="container-items flex">
        <ul>
          <li><a routerLink="/home" routerLinkActive="activeLink" ariaCurrentWhenActive="page">Inicio</a></li>
          <li><a routerLink="/about-us" routerLinkActive="activeLink" ariaCurrentWhenActive="page">Nosotros</a></li>
          <li><a routerLink="/asdasd" routerLinkActive="activeLink" ariaCurrentWhenActive="page">Noticias</a></li>
          <li><a routerLink="/contact-us" routerLinkActive="activeLink" ariaCurrentWhenActive="page">Contacto</a></li>
        </ul>
      </div>
      <div class="container-social">
        <button class="my-button-only-icon header-component">
          <i class="fa-brands fa-facebook"></i>
        </button>
        <button class="my-button-only-icon header-component">
          <i class="fa-brands fa-instagram"></i>
        </button>
        <button class="my-button-only-icon header-component">
          <i class="fa-regular fa-envelope"></i>
        </button>
      </div>
    </div>
    }
    <!-- Boton responsive -->
    @else {
    <button class="my-button-only-icon header-component" aria-label="item-list">
      <i class="fa-solid fa-ellipsis-vertical"></i>
    </button>

    }

  </nav>
</header>