<header #content class="header-container flex" [class.mobile]="isMobile" [@slideDown]="animationState">
  <nav class="nav-container flex justify-between align-center">
    <app-logo></app-logo>
    @if (!isMobile) {
    <p class="long-name">
      Asociación Venezolana de Arquitectura e Ingeniería Médico Sanitaria
      (AVAIMS)
    </p>

    <div class="nav-items flex align-center justify-between">
      <div class="container-items flex">
        <ul>
          <li><a routerLink="/home/" routerLinkActive="activeLink" [routerLinkActiveOptions]="{exact: true}"
              ariaCurrentWhenActive="page">Inicio</a></li>
          <li>
            <app-dropdown buttonText="Nosotros" [options]="dropDownLink"></app-dropdown>
          </li>
          <li><a routerLink="/home/notices" routerLinkActive="activeLink" ariaCurrentWhenActive="page">Noticias</a></li>
          <li><app-dropdown buttonText="Aliados" [options]="dropDownLinkAllies"></app-dropdown></li>
          <li><a routerLink="/home/contact-us" routerLinkActive="activeLink" ariaCurrentWhenActive="page">Contacto</a>
          </li>
        </ul>
      </div>
      <div class="container-social">
        <button class="my-button-only-icon header-component">
          <a target="_blank" title="Avaims" href="https://www.facebook.com/arquitecturaeingenieriamedicosanitaria	">
            <i class="fa-brands fa-facebook"></i>
          </a>
        </button>
        <button class="my-button-only-icon header-component">
          <a target="_blank" href="https://www.instagram.com/avaims.venezuela/">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </button>
        <button class="my-button-only-icon header-component">
          <a target="_blank" href="https://twitter.com/avaimsoficial"><i class="fa-brands fa-x-twitter"></i></a>
        </button>
      </div>
    </div>
    }
    @else {
    <div>
      <app-sidebar-mobile></app-sidebar-mobile>
    </div>
    }
  </nav>
</header>