.brand-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.complete {
  flex-direction: column;
  width: 200px;
  padding: 2rem;
  cursor: pointer;
}

.brand-item img {
  width: 250px;
  max-height: 200px;
}

.brand-item h3 {
  font-size: 1.5rem;
  margin: 1rem 0;
  text-align: center;
}

.brand-item p {
  font-size: 1rem;
  text-align: center;
  color: #333;
  margin-top: 0;
}