.content {
  margin-top: 100px;
}

.floating-button {
  position: fixed;
  z-index: 1000;
  border-radius: 5px;
  width: auto;
  height: auto;
  transition: all 0.35s ease;
}

.bottom {
  bottom: 1rem;
}

.left {
  left: 1rem;
}

.right {
  right: 1rem;
}

.inactive {
  opacity: 0;
}

.active {
  opacity: 1;
}

.scroll-button {
  background-color: rgba(69, 171, 255, 0.5568627451);
  color: white;
  cursor: pointer;
  transition: all 0.35s ease;
}

.scroll-button:hover {
  background-color: rgba(69, 171, 255, 0.8);
}

.floating-button .wa-icon {
  font-size: 3.5rem;
  color: #25d366;
  text-align: center;
  cursor: pointer;
  transition: color 0.35s;
}

.scroll-button i {
  font-size: 2rem;
  color: #333;
}

.floating-button .wa-icon:hover {
  color: #128c7e;
}

.whatsapp-button {
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: background-color 0.35s;
}

@media screen and (max-width: 768px) {
  .floating-button {
    bottom: 2rem;
    right: 2rem;
  }

  .floating-button i {
    font-size: 3rem;
  }

}