.content {
  margin-top: 100px;
}

.floating-button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1000;
  border-radius: 50%;
  width: auto;
  height: auto;
}

.floating-button i {
  font-size: 2rem;
  color: white;
  text-align: center;
  cursor: pointer;
}

.whatsapp-button {
  background-color: #25d366;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.35s;
}


.whatsapp-button:hover {
  background-color: #128c7e;
}