.content {
  margin-top: 100px;
}

.floating-button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1000;
  border-radius: 50%;
  width: auto;
  height: auto;
}

.floating-button i {
  font-size: 3.5rem;
  color: #25d366;
  text-align: center;
  cursor: pointer;
  transition: color 0.35s;
}

.floating-button i:hover {
  color: #128c7e;
}

.whatsapp-button {
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: background-color 0.35s;
}

@media screen and (max-width: 768px) {
  .floating-button {
    bottom: 2rem;
    right: 2rem;
  }

  .floating-button i {
    font-size: 3rem;
  }
  
}