<div class="main-container">
  <header-landing-page></header-landing-page>
  <div class="content">
    <router-outlet />
  </div>
  <app-footer></app-footer>
  <a href="https://api.whatsapp.com/send?phone=584241307555&text=Hola%20me%20interesa%20el%20curso%20de%20programacion"
    target="_blank">
    <button class="my-button-only-icon floating-button whatsapp-button">
      <i class="fa-brands fa-square-whatsapp wa-icon"></i>
    </button>
  </a>


  <button class="my-button-only-icon scroll-button inactive" [class.active]="showFloatingButton"
    (click)="scrollToTop()">
    <i class="fa-solid fa-arrow-up"></i>
  </button>


</div>