.our-sponsors-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.brand-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}