<section class="contact-us-container">
  <div class="form-wrapper">

    <form class="form">
      <p>Frase con referencia a que nos envie cualquier inquietud que la responderemos</p>
      <mat-form-field>
        <mat-label>Asunto</mat-label>
        <input matInput placeholder="Asunto" required>
      </mat-form-field>
      <div class="flex input-group">
        <mat-form-field class="my-input">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Nombre" required>
        </mat-form-field>
        <mat-form-field class="my-input">
          <mat-label>Apellido</mat-label>
          <input matInput placeholder="Apellido" required>
        </mat-form-field>
      </div>
      <div class="flex input-group">
        <mat-form-field class="my-input">
          <mat-label>Correo</mat-label>
          <input matInput placeholder="Correo" required>
        </mat-form-field>
        <mat-form-field class="my-input">
          <mat-label>Telefono</mat-label>
          <input matInput placeholder="Telefono" required>
        </mat-form-field>
      </div>
      <mat-form-field>
        <mat-label>Mensaje</mat-label>
        <textarea matInput #message maxlength="100" placeholder="Mensaje" required></textarea>
        <mat-hint align="end">{{message.value.length}} / 100</mat-hint>
      </mat-form-field>
      <button class="my-button" mat-stroked-button color="primary">Enviar</button>
    </form>
  </div>
  <div class="half-width flex column">
    <app-logo></app-logo>
    <p class="text-mb">Estamos aquí para ayudarte. Encuéntranos en nuestra oficina o contáctanos a través de teléfono o
      correo
      electrónico.</p>
    <div class="flex column item-container">
      <!-- Logo del telefono -->
      <div class="flex item-container">
        <mat-icon>
          phone
        </mat-icon>
        <span>(+58) 412 2786751</span>
      </div>
      <div class="flex item-container">
        <mat-icon>
          email
        </mat-icon>
        <span>{{'Santiago@Gmail.com'}}</span>
      </div>

    </div>
  </div>
</section>