// Estilos de la landing page del proyecto


.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.contact-us-wrapper {
  margin-top: 3rem;
  width: 100%;
}

.app-last-notice-container {
  width: 100%;
}