<div class="about-us-container flex column align-center">
  <!-- Our mision  -->
  <app-our-mision></app-our-mision>

  <!-- Our Services-->
  <app-our-services></app-our-services>

  <!-- Falta nuestra estructura -->
  <app-our-team style="width: 80%;"></app-our-team>

  <!-- Our History -->
  <app-our-history></app-our-history>

  <!-- Aqui va una frase como final de la vista con un estilo de fuente llamativo -->

  <div class="divider"></div>
  <p class="phrase">“Por la excelencia en la infraestructura para la salud, a través del conocimiento, el hacer y el
    ser”</p>
  <div class="divider"></div>

</div>