@keyframes fadeIn {
  to {
    opacity: 1;
    /* Aparece */
  }
}

@keyframes fadeInText {
  to {
    opacity: 1;
    /* Aparece */
    transform: translateY(0);
    /* Se coloca en su posición */
  }
}