<div class="news-container">
  <h1 class="title">Noticias</h1>

  <div class="filters column">
    <div class="flex  filters-input">
      <input type="text" [(ngModel)]="searchTerm" placeholder="Buscar por título o descripción"
        (input)="onSearchTermChange()">
      <select [(ngModel)]="searchCategory" (change)="onCategoryChange()">
        <option value="Todas">Todas las categorías</option>
        @for (item of noticesCategories; track $index) {
        <option [value]="item">{{item}}</option>
        }
      </select>
      <select [(ngModel)]="searchYear" name="year" id="year" (change)="onYearChange()">
        <option value="1999">Todos los años</option>
        @for (year of noticesYears; track $index) {
        <option [value]="year">{{year}}</option>
        }
      </select>
    </div>
    <div class="clear-filter">
      <!-- Button para limpiar los filtros -->
      <button class="my-button" (click)="clearFilters()">Limpiar filtros</button>
    </div>

  </div>


  <div class="news-list">
    <div class="news-list">
      @if (filteredNotices.length > 0) {
      @for (notice of filteredNotices; track $index) {
      <my-card [notice]="notice"></my-card>
      }
      } @else {
      <p>No se encontraron noticias que coincidan con los criterios de búsqueda.</p>
      }
    </div>

  </div>
</div>