<div class="news-container">
  <h1 class="title text-center">Noticias</h1>
  <div class="flex column">
    <div class="filters">
      <input type="text" [(ngModel)]="searchTerm" placeholder="Buscar por título o descripción"
        (input)="filterNotices()">
      <!-- <input type="date" [(ngModel)]="searchDate" (input)="filterNotices()"> -->
    </div>
  </div>

  <div class="news-list">
    @for (notice of filteredNotices; track $index) {
    <my-card [notice]="notice"></my-card>
    }

  </div>
</div>