<footer class="footer-container">
  <div class="logo-footer">
    <app-logo></app-logo>
  </div>
  <div class="footer-content">
    <div class="footer-company-description">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
      </p>
    </div>
    <div class="footer-items">
      <ul>
        <li>
          <!-- Direccion corta -->
          <i class="fa-solid fa-location-dot"></i>
          <span>Av. Siempre Viva 742</span>
        </li>
        <!-- Correo -->
        <li>
         <i class="fa-regular fa-envelope"></i>
          <span>{{'MyCorreo@Gmail.com'}}</span>
        </li>
        <li>
          <i class="fa-solid fa-phone"></i>
          <span>{{'(+57) 123 456 7890'}}</span>
        </li>
      </ul>
    </div>
    <div class="footer-social">
      <button class="my-button-only-icon footer-component">
        <a target="_blank" title="Avaims" href="https://www.facebook.com/arquitecturaeingenieriamedicosanitaria	">
          <i class="fa-brands fa-facebook"></i>
        </a>
      </button>
      <button class="my-button-only-icon footer-component" >
        <a target="_blank" href="https://www.instagram.com/avaims.venezuela/">
          <i class="fa-brands fa-instagram"></i>
        </a>
      </button>
      <button class="my-button-only-icon footer-component" >
        <a target="_blank" href="https://twitter.com/avaimsoficial"><i class="fa-brands fa-x-twitter"></i></a>
      </button>
      <button class="my-button-only-icon footer-component" >
        <a target="_blank" href="https://www.linkedin.com/in/avaims-caracas-7a712898/"><i class="fa-brands fa-linkedin"></i></a>
      </button>
    </div>
    <div class="copyrights">
      <p>© 2025 All rights reserved - Diseño y desarrollo - <span class="author">
          <a href="https://github.com/SantiagoBriceno" target="_blank">
            Santiago Briceño
          </a>
        </span></p>
    </div>
  </div>
</footer>