<section class="section-presentation">
  <div class=" presentation-container">
    <div #description class="company-description flex column" [@slideInLeft]>
      <h1>
        AVAIMS
      </h1>
      <p>
        Somos la Asociación Venezolana de Arquitectura e Ingeniería Médico Sanitaria, institución civil que agrupa a los
        profesionales de la arquitectura e ingeniería especializados en la creación y ejecución de edificaciones para la
        salud.
        <br />
        <br />
        El objetivo de AVAIMS en actuar como centro de coordinación e intercambio de información de todas las
        actividades relacionadas con la Arquitectura e Ingenieria Médico Sanitaria parte de una posición técnica de
        experticia sin inclinaciones políticas de ninguna índole
      </p>
    </div>
    <div #image class="company-img-container" [@slideInRight]>
      <img src="https://aadaih.org.ar/media/logo-AADAIH.png" alt="company-img" />
    </div>
  </div>

  <button #button class="my-button">
    <i class="fa-regular fa-heart"></i>
    Conocenos más acá
  </button>
</section>