<section class="section-presentation">
  <div class=" presentation-container">
    <div #description class="company-description flex column" [@slideInLeft]>
      <h1 class="super">
        AVAIMS
      </h1>
      <p>
        Somos la <span class="long-name">Asociación Venezolana de Arquitectura e Ingeniería Médico Sanitaria
          (AVAIMS)</span>, una
        institución civil que reúne a los profesionales de la arquitectura e ingeniería especializados en el diseño y
        construcción de edificaciones para el sector salud.
        <br />
        <br />
        Nuestro objeto es servir como centro de coordinación e intercambio de información, promoviendo las mejores
        prácticas y el conocimiento técnico en arquitectura e ingeniería médico-sanitaria. Actuamos con total
        independencia política, enfocados en la excelencia y el desarrollo del sector.
      </p>
      <button #button class="my-button" routerLink="/home/about-us/our-history">
        <i class="fa-regular fa-heart"></i>
        Conocenos más acá
      </button>
    </div>
    <div #image class="company-img-container" [@slideInRight]>
      <img src="images/team.webp" alt="company-img" />
    </div>
  </div>


</section>