.section-presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../../../../../../../public/images/assets/render-avaims3.webp');
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
  background-color: rgba(35, 56, 77, 0.911);
  /* Color de filtro (azul semi-transparente) */
  background-blend-mode: multiply;
  padding: 20px;
  color: #f4f6f1;
  gap: 3rem;
  margin-bottom: 1.5rem;
}

.presentation-container {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.company-description {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  width: 50%;
}

.company-description h1 {
  font-size: 2.5em;
  font-weight: 500;
  letter-spacing: .2rem;
  //color: #333;
}

.company-description p {
  font-size: 1rem;
  width: 70%;
  text-align: justify;
  font-weight: 300;
  //color: #333;
}

.company-img-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  overflow: hidden;
}

.company-img-container img {
  width: 75%;
  border-radius: 10px;
  box-shadow: 0 0 1rem 0 rgba(7, 7, 7);
}

.super{
  font-size: 3rem;
  font-weight: 1000;
  margin: 0;
}

.long-name {
  font-weight: 500;
  font-size: 1.5rem;
}

button{
  opacity: 0;
  animation: fade 0.8s ease-out 3.2s forwards; // Añade un retraso de 0.2s
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
  .section-presentation {
    flex-direction: column;
    /* Mantener la dirección de la columna */
    padding: 15px;
    /* Reducir el padding */
  }

  .section-presentation .presentation-container {
    flex-direction: column;
  }

  .company-description,
  .company-img-container {
    width: 100%;
    /* Hacer que ambos contenedores ocupen el 100% */
    align-items: center;
    /* Centrar el contenido */
    text-align: center;
    /* Centrar el texto */
  }

  .company-description h1 {
    font-size: 2em;
    /* Reducir el tamaño del título */
  }

  .company-description p {
    font-size: 0.9em;
    /* Reducir el tamaño de la fuente del párrafo */
    width: 90%;
    /* Aumentar el ancho del párrafo */
  }

  .company-img-container img {
    width: 100%;
    /* Hacer que la imagen ocupe el 100% del contenedor */
  }
}

@media (max-width: 480px) {
  .company-description h1 {
    font-size: 1.5em;
    /* Reducir aún más el tamaño del título */
  }

  .company-description p {
    font-size: 0.8em;
    /* Reducir aún más el tamaño de la fuente del párrafo */
  }

  .company-img-container img {
    width: 100%;
    /* Asegurarse de que la imagen ocupe el 100% */
  }

  button {
    font-size: 0.9em;
    /* Ajustar el tamaño del botón */
  }
}