.section-presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: #f4f6f1;
  gap: 3rem;
  height: 100vh;
  margin-bottom: 3rem;
}

.presentation-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  width: 50%;
  text-align: justify;
}

.company-description {
  display: flex;
  flex-direction: column;
  width: 50%;
}

p {
  font-size: 1.1rem;
  width: 100%;
  text-align: justify;
  font-weight: 300;
  line-height:2;
  //color: #333;
  transition: all 0.3s ease;
  opacity: 0;
  animation:fadeIn 1s forwards 2s;
}

h1{
  opacity: 0;
  transition: all 0.3s ease;
  animation:fadeIn 1s forwards 1s;
}

button{
  opacity: 0;
  transition: all 0.3s ease;
  animation:fadeIn 1s forwards 3s;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.company-img-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  overflow: hidden;
}

.company-img-container img {
  width: 75%;
  // border-radius: 10px;
  box-shadow: 0 0 1rem 0 rgba(7, 7, 7);
}

.super{
  font-size: 3rem;
  font-weight: 1000;
  margin: 0;
}

.long-name {
  font-weight: 500;
  font-size: 1.5rem;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
  .section-presentation {
    flex-direction: column;
    /* Mantener la dirección de la columna */
    padding: 15px;
    /* Reducir el padding */
  }

  .section-presentation .presentation-container {
    flex-direction: column;
    width: 80%;
  }

  .company-description,
  .company-img-container {
    width: 100%;
    /* Hacer que ambos contenedores ocupen el 100% */
    align-items: center;
    /* Centrar el contenido */
    text-align: center;
    /* Centrar el texto */
    
  }

  h1 {
    font-size: 2em;
    /* Reducir el tamaño del título */
  }

  p, span {
    font-size: 0.9em;
    line-height: normal;
    /* Reducir el tamaño de la fuente del párrafo */
    width: 100%;
    /* Aumentar el ancho del párrafo */
  }

  .company-img-container img {
    width: 100%;
    /* Hacer que la imagen ocupe el 100% del contenedor */
  }
}

@media (max-width: 480px) {
  .company-description h1 {
    font-size: 1.5em;
    /* Reducir aún más el tamaño del título */
  }

  .company-description p {
    font-size: 0.8em;
    /* Reducir aún más el tamaño de la fuente del párrafo */
  }

  .company-img-container img {
    width: 100%;
    /* Asegurarse de que la imagen ocupe el 100% */
  }

  button {
    font-size: 0.9em;
    /* Ajustar el tamaño del botón */
  }
}