<div #newsCard class="news-card">
  <div class="image-container">
    <img [src]="notice.img ? 'https://avaims.com/api/v1/public/' + notice.img : 'https://avaims.com/api/v1/public/images/notices/team.png'" alt="Noticia">
  </div>
  <div class="content">
    <h2>{{notice.title}}</h2>
    <p class="description">{{notice.description}}</p>
    <p class="date">{{notice.date | date: 'fullDate'}}</p>
    @if (notice.url) {
    <a target="_blank" class="url" href="{{notice.url}}">
      Leer más
    </a>
    }
    <div class="button-container">
      <button class="action-button delete" (click)="notice._id !== undefined && handleDelete(notice)">Borrar</button>
      <!-- <button class="action-button view">Ver</button> -->
    </div>
  </div>
</div>

<app-my-alert [show]="showAlert" [message]="deleteMessageAlert" (cancel)="onCancel()"
  (confirm)="onDelete()"></app-my-alert>