img {
  width: 200px;
}

.fadein{
  opacity: 0;
  animation: fadeIn 1s ease-out forwards 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.title-logo{
  p{
    margin: 0;
    padding: 0;
    font-size: .8rem;
  }
}

h1 {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: .2rem;
  margin: 0;
  transition: ease-in .1s;
}

h1:hover {
  color: #0056b3;
  scale: 1.1;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #333;
}

.second-color{
  color: #ababab;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 24px;
  }

  p{
    display: none;
  }

}