img {
  width: 50px;
}

h1 {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: .2rem;
  margin: 0;
  transition: ease-in .1s;
}

h1:hover {
  color: #0056b3;
  scale: 1.1;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #333;
}

.second-color{
  color: #ababab;
}