<section class="our-team-container">
  <h1 class="text-center">Junta Directiva</h1>
  <div class="list-container">
    <ul class="members">
      @for (member of members; track $index) {
      <li class="member">
        <h3>{{member.ocupation}} {{ member.name }}</h3>
        <p>{{ member.position }}</p>
      </li>
      }

      <li class="vocals-container">
        <ul class="vocals">
          @for (member of vocals; track $index) {
          <li class="vocal">
            <h3>{{member.ocupation}} {{ member.name }}</h3>
            <p>{{ member.position }}</p>
          </li>
          }
        </ul>
      </li>
    </ul>

  </div>

</section>