.our-team-container {
    padding: 0rem 3rem;
    ;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem;
    border-style: solid;
    border-width: 1px;
    border-color: #e0e0e0;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;

    &:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }
}

.card-title {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
}

.card-content {
    text-align: center;
}

h2 {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.not-vocals {
    gap: .2rem;
    // LA primera p que aparezca contenida en not-vocals tendra un border-bottom solid


}

.name {
    font-size: 1rem;
}


.position {
    font-weight: 500;
    font-size: .8rem;
    border-bottom: 1px solid #e0e0e0;
}

.li-vocals {
    align-items: flex-end;
}

.vocals {
    //border-bottom: 1px solid #e0e0e0;
    text-align: center;
    width: 100px;
    margin-top: 1rem;
    align-items: flex-end
}


ul li p {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .our-team-container {
        padding: 0;
    }

    .card {
        padding: 1rem;
    }

    .card-title {
        padding: 0.5rem;
    }

    .card-content {
        padding: 0.5rem;
    }

    .name {
        font-size: 0.8rem;
    }

    .position {
        font-size: 0.6rem;
    }

    .vocals {
        font-size: 0.6rem;
    }

}