<section class="semigrouper flex column align-center justify-center full-width">
  <div class="full-width flex column">
    <div class="section-title text-center">
      <h1 class="title">Noticias recientes</h1>
    </div>
    <div class="news-cards-container flex align-center justify-center">
      @for (notice of notices; track $index) {
      <my-card [title]="notice.title" [description]="notice.description" [created_at]="notice.date" [img]="notice.img"></my-card>
      }
    </div>

  </div>
  <button class="my-button">
    Ver más
  </button>
</section>