.admision {
  background-color: #f8f8f8;
  padding: 0px 0 50px 0 ;

  .admision-title {
    text-align: center;
    background-image: url('../../../../../public/images/assets/render-avaims.jpg');
    background-size: cover;
    background-position: center;
    background-color: rgba(29, 27, 27, 0.8);
    /* Color de filtro (azul semi-transparente) */
    background-blend-mode: multiply;
    color: #f4f6f1;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    .content{
      width: 50%;
    }
  }

  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;

    h2 {
      font-size: 2rem; // Ajustado a 2rem
      margin-bottom: 20px;
      text-align: center;
      color: #333;
    }

    p {
      font-size: 1rem; // Ajustado a 1rem
      line-height: 1.6;
      margin-bottom: 30px;
      color: #555;
    }

    .requisitos,
    .documentacion {
      margin-bottom: 30px;

      h3 {
        font-size: 1.3rem; // Ajustado a 1.3rem
        margin-bottom: 15px;
        color: #333;
      }

      ul {
        list-style: disc;
        margin-left: 20px;

        li {
          font-size: 1rem; // Ajustado a 1rem
          line-height: 1.6;
          color: #555;
        }
      }
    }

    .descargar-planilla {
      background-color: #007bff;
      color: white;
      padding: 12px 25px; // Ligeramente reducido
      border: none;
      border-radius: 5px;
      font-size: 1rem; // Ajustado a 1rem
      cursor: pointer;
      transition: background-color 0.3s ease;
      text-decoration: none;
      display: inline-block;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .admision {
    .container {
      h2 {
        font-size: 1.8rem; // Ajustado para pantallas pequeñas
      }

      p,
      ul li {
        font-size: 0.9rem; // Ajustado para pantallas pequeñas
      }
    }
  }
}