<section class="admision">
  <div class="admision-title">
    <div class="content">
      <h2>¿Cómo ser miembro de AVAIMS?</h2>
      <p>
        Para ser miembro de Avaims, existe un Comité de Admisión conformado por tres miembros de la junta directiva
        quien
        tiene la potestad de revisar la información en la planilla de postulación de los aspirantes. Se solicita
        seguidamente la conformación de una Planilla De Admisión y se deben anexar la siguiente información:
      </p>
    </div>

  </div>
  <div class="container">
    <div class="requisitos">
      <h3>Requisitos</h3>
      <ul>
        <li>Experiencia comprobable en el campo de las edificaciones médico sanitarias.</li>
        <li>Estudios de mejoramiento profesional y/o cuarto nivel en el sector de las edificaciones médico sanitarias.
        </li>
        <li>Estar inscrito y solvente en CIV.</li>
      </ul>
    </div>

    <div class="documentacion">
      <h3>Documentación de respaldo</h3>
      <ul>
        <li>Foto digital actualizada.</li>
        <li>Fotocopia de la CI.</li>
        <li>Fotocopia del carnet del CIV.</li>
        <li>Solvencia del CIV.</li>
        <li>Curriculum Vitae</li>
        <li>Respaldo de diplomados, cursos o estudios de cuarto nivel (si aplica).</li>
      </ul>
    </div>

    <p>
      Una vez que hayas reunido todos los requisitos y la documentación solicitada, te invitamos a enviar un correo
      electrónico a <a href="mailto:postulacionesavaims@gmail.com">{{'postulacionesavaims@gmail.com'}}</a> con el asunto
      "Postulación Nombre y Apellido". Posteriormente, mantente atento a las indicaciones necesarias para continuar con
      el proceso de admisión y formar parte de la AVAIMS.
    </p>
    <a [href]="planillaUrl" target="_blank" class="descargar-planilla">Descargar Planilla</a>
  </div>
</section>