<section class="semigrouper flex column align-center justify-center full-width container-all">
  <div class="full-width flex column align-center justify-center">
    <div class="section-title text-center">
      <h1 class="title">Noticias Recientes</h1>
    </div>
    <div class="news-cards-container flex align-center justify-center">
      @for (notice of notices; track $index) {
      <my-card [title]="notice.title" [notice]="notice"></my-card>
      }
    </div>
    <button class="my-button">
      Ver más
    </button>
  </div>

</section>