<section class="semigrouper flex column align-center justify-center full-width section-container">
  <div class="full-width flex column">
    <div class="section-title text-center">
      <h1 class="title">Noticias Recientes</h1>
    </div>
    <div class="news-cards-container flex align-center justify-center">
      @for (notice of notices; track $index) {
      <my-card [title]="notice.title" [notice]="notice"></my-card>
      }
    </div>

  </div>
  <button #button class="my-button" routerLink="/home/notices">
    Ver más
  </button>
</section>