.news-cards-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 6rem;
  margin-bottom: 1.5rem;
  
}

.my-button{
  width: 10rem
}

.container-all{
  margin-bottom: 3rem;
}