<section class="our-history-content flex grouper">
  <div #slideRight class="our-history-description flex column slide-right" [@slideInLeft]="animationState">
    <h1 class="title">
      Nuestra historia
    </h1>
    <p>
      <b>AVAIMS</b> se constituyó en la década de los 70’s, logrando para ese momento agrupar a una cantidad de especialistas en
      el área de la Arquitectura Médico Asistencial; consiguiendo la creación de comisiones docentes de difusión que
      reconocieron la importancia de esta asociación como apoyo al desarrollo y crecimiento de esta área tanto en el
      sector público como privado. Aspectos de carácter político y otros hicieron que sus actividades se paralizaran
      durante 12 años, no
      significando
      esto su disolución. Sus principales directivos continuaron trabajando en la investigación de esta especialidad,
      obteniendo importantísimos avances en cuanto a los requerimientos necesarios para el diseño de este tipo de
      edificaciones.
    </p>
    <p class="text-center">Nace la <b>NECESIDAD</b> de reformular los objetivos iniciales</p>
    <p>
      En 2011 en el territorio nacional se vienen ejecutando algunas acciones desacertadas y desorientadas relacionadas
      al tema de la Arquitectura Hospitalaria que exige de nuestro gremio un importante compromiso de organización,
      participación e interacción entre los diferentes especialistas. Arquitectos, Ingenieros, Médicos, Planificadores
      de Salud, Empresas del ramo médico asistencial, tanto en el
      sector público como privado deben integrarse.Dentro de las estrategias fundamentales de acción se logran los
      objetivos en el desarrollo de varias comisiones.
    </p>
  </div>
  <div #slideLeft class="our-history-img-container" [@slideInRight]="animationState">
    <div class="flex column container">
      <img src="images/AvaimsTeam.jpg" alt="company-img" />
    </div>

  </div>
</section>