.our-history-content {
  align-items: flex-start;
  width: 100%;
  .our-history-description {
    width: 80%;

    h1 {
      letter-spacing: .5rem;
      padding: 0;
      margin: 0;
    }

    p {
      font-size: 1rem;
      line-height: 1.5;
      text-align: justify;
    }
  }

  .our-history-img-container {
    img {
      height:200px;
    }
  }
}

.container{
  justify-items: flex-start;
}