<section class="flex column align-center our-mision-content text-center">
  <div class="flex column  our-mision-description">
    <h1 class="super-title">Quiénes somos</h1>
    <p><span>AVAIMS</span> es una asociación sin fines de lucro, si bien no establece servicios directos de
      contratación
      de servicios, la misma cuenta con estrechas alianzas con sus agremiados que soportan con su experiencia y
      capacidad técnica una gran variedad de servicios de consultoría y asesorías. Asimismo la importancia del gremio
      ante el Colegio de Ingenieros de Venezuela fortalece su participación en los temas que nos responsabilizan ante
      el
      desarrollo profesional de esta especialidad
    </p>
  </div>
</section>