/* You can add global styles to this file, and also import other style files */
$background-principal: #F5F5F5;
$background-secundario: #1C1C1C;
$texto-principal: #363636;
$texto-secundario: #F5F5F5; // Color contrastante para el fondo secundario
$color-principal: #A3C1DA;
$color-borde: #FF5722; // Color de borde
$color-error: #FF4081; // Color de error
$color-hover: #FF9800; // Color de hover

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin-top: 100px;
  /* Ajusta este valor según la altura de tu header */
  background-color: $background-principal;
  color: $texto-principal;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.grouper {
  gap: 3rem
}

.full-width {
  width: 100%;
}

.secondary-container {
  background-color: $background-secundario;
  color: $texto-secundario;
}

.half-width {
  width: 50%;
}

.wrap {
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
