<div class="sidebar">
  <div class="logo">
    <h1 routerLink="/home">AVAIMS</h1>
  </div>
  <nav>
    <ul>
      <li routerLink="/admin/" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">
        <i class="fa-solid fa-newspaper"></i> Home
      </li>
      <li routerLink="/admin/notices" routerLinkActive="active">
        <i class="fa-solid fa-users"></i> Noticias
      </li>
      <li routerLink="/admin/our-prof" routerLinkActive="active">
        <i class="fa-solid fa-user"></i> Profesionales
      </li>
      <li routerLink="/admin/contact" routerLinkActive="active">
        <i class="fas fa-box"></i> Notificaciones
      </li>
    </ul>
  </nav>
</div>