.dropdown {
  position: relative;
  display: inline-block;
}



.dropdown .dropdown-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease-in-out; /* Transición para el color al hacer hover si lo deseas */
  color: #333;
  /* Ajusta el color según tu diseño */
}

.dropdown-content {
  display: none; /* Inicialmente oculto */
  position: absolute;
  background-color: #e6e1e1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 0; /* Inicialmente transparente */
  transform: translateY(-10px); /* Iniciar ligeramente arriba */
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; /* Transición para opacidad y posición */
  border-radius: 5px; /* Bordes redondeados */
}

.dropdown:hover .dropdown-content {
  display: block; /* Mostrar al hacer hover en el contenedor dropdown */
  opacity: 1; /* Hacer visible */
  transform: translateY(0); /* Mover a su posición final */
}

.dropdown-content a {
  color: #333;
  font-size: 14px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease-in-out, border-bottom 0.3s ease-in-out; /* Transiciones para el hover de los links */
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  border-bottom: 2px solid #007bff;
}