<div class="mobile-sidebar">
  <button (click)="toggleSidebar()" class="my-button-only-icon header-component" aria-label="item-list">
    <i class="fa-solid fa-ellipsis-vertical"></i>
  </button>
  <menu class="sidebar-container" [class.active]="isOpen">
    <div class="sidebar-title">
      <h1 class="text-title">
        AVAIMS
      </h1>
    </div>
    <div class="sidebar-content">
      <ul>
        <li>
          <a routerLink="/home" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active"
            (click)="toggleSidebar()">Home</a>
        </li>
        <li class="has-submenu">
          <a routerLink="/home/about-us/our-history" routerLinkActive="active" (click)="toggleSidebar()">nosotros</a>
          <ul class="submenu">
            <li>
              <a href="">Nuestra historia</a>
            </li>
            <li>
              <a href="">
                Únetenos
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a routerLink="/home/contact-us" routerLinkActive="active" (click)="toggleSidebar()">Contactanos</a>
        </li>
        <li>
          <a routerLink="/home/notices" routerLinkActive="active" (click)="toggleSidebar()">Noticias</a>
        </li>
      </ul>
    </div>
  </menu>
</div>