<div class="mobile-sidebar">
  <button (click)="toggleSidebar()" class="my-button-only-icon header-component" aria-label="item-list">
    <i class="fa-solid fa-ellipsis-vertical"></i>
  </button>
  <menu class="sidebar-container" [class.active]="isOpen">
    <div class="sidebar-title">
      <h1 class="text-title">
        AVAIMS
      </h1>
    </div>
    <div class="sidebar-content">
      <ul>
        <li>
          <a routerLink="/home" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active"
            (click)="toggleSidebar()">Home</a>
        </li>
        <li class="has-submenu">
          <app-dropdown buttonText='Nosotros' [options]="aboutUsOptions"
            (selectedOption)="toggleSidebar()"></app-dropdown>
        </li>
        <li class="has-submenu">
          <app-dropdown buttonText="Miembros" [options]="ourAlliesOptions"
            (selectedOption)="toggleSidebar()"></app-dropdown>
        </li>
        <li>
          <a routerLink="/home/notices" routerLinkActive="active" (click)="toggleSidebar()">Noticias</a>
        </li>
        <li>
          <a routerLink="/home/contact-us" routerLinkActive="active" (click)="toggleSidebar()">Contactanos</a>
        </li>

        <li>
          <a href=""></a>
        </li>
      </ul>
    </div>
  </menu>
</div>