.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.sidebar-container.active {
  transform: translateX(0);
}

.sidebar-container .sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #e9ecef;
}

.sidebar-content {
  flex: 1;
  overflow-y: auto;
}

.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-item {
  padding: 10px 20px;
  border-bottom: 1px solid #e9ecef;
}

.sidebar-item a {
  text-decoration: none;
  color: #495057;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
  /* Hace el botón redondo */
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  /* Opcional: un ligero fondo al pasar el mouse */
}